# Compiled Python modules
*.pyo
*.pyc

# SQLite
*.db
*.s3db
*.sqlite3

# Supervisor files
supervisord.log
supervisord.pid
supervisord.conf

# Vagrant private files
.vagrant/*

#log dir/files
log

#static
static/

runserver.log
runserver2.log
