log_format timed_combined '$remote_addr - $remote_user [$time_local]  '
                          '"$request" $status $body_bytes_sent '
                          '"$http_referer" "$http_user_agent" $request_time';

upstream myapp {
        server 127.0.0.1:3000;
        server 127.0.0.1:4500;
    }

server {
    listen 0.0.0.0:4700;
    access_log /var/log/nginx/access.log timed_combined;
    
    location / {
        proxy_pass http://myapp;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location /static {
        alias {{ APP_STATIC_DIR }};
    }

}
